h1 {
  color: pink;
  text-align: center;
  font-size: 32px;
  background: black;
}

p {
  color: black;
  text-align: center;
  font-size: 22px;
  background: pink;
  margin: 0 auto;
  padding: 0 auto;
}
